{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Home||Premscent</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{%  static 'assets/img/favicon.png' %}" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{%  static 'assets/css/bootstrap.min.css' %}">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{%  static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{%  static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Feather CSS -->
		<link rel="stylesheet" href="{%  static 'assets/plugins/feather/feather.css' %}">
		
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{%  static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{%  static 'assets/css/owl.theme.default.min.css' %}">
		
		<!-- Aos CSS -->
		<link rel="stylesheet" href="{%  static 'assets/plugins/aos/aos.css' %}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{%  static 'assets/plugins/select2/css/select2.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{%  static 'assets/css/style.css' %}">
	</head>		
	<body class="home-page bg-four">
	
		<!-- Loader -->
		<div id="global-loader"  >
			<div class="whirly-loader"> </div>
			<div class="loader-img">
				<img src="{%  static 'assets/img/load-icon.svg' %}" class="img-fluid" alt="">
			</div>
		</div>
		<!-- Loader -->

		<!-- Main Wrapper -->
		<div class="main-wrapper">
					
			<!-- Start Navigation -->
			<!-- Header -->
			<header class="header header-four">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="{%  static 'assets/img/PremScent__5.png' %}" width="196PX" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="{%  static 'assets/img/PremScent__5.png' %}" width="196PX"class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active ">
								<a href="index.html">Home </a>
								
							</li>
							<li class="has-submenu">
								<a href="">For Service Seekers <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Service Providers</a>
										<ul class="submenu">
											<li><a href="developer.html">Service Providers</a></li>
											<li><a href="">Service Providers Details</a></li>
										</ul>
									</li>
									<!-- <li><a href="dashboard.html">Dashboard</a></li>	 -->
									<li><a href="">My Profile</a></li>	
									<li><a href="">Company Details</a></li>	
									<li><a href="">Projects</a></li>
									<li><a href="">Favourites</a></li>
									<li><a href="">Membership</a></li>
									<li><a href="">Milestones</a></li>
									<li><a href="">Chats</a></li>
									<li><a href="">Review</a></li>			
									<li><a href="">Payments</a></li>							
									<li><a href="">Verify Identity</a></li>								
									<li><a href="profile-settings.html">Settings</a></li>								
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">For Service Provider<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Jobs</a>
										<ul class="submenu">
											<li><a href="">Jobs</a></li>
											<li><a href="project-details.html">Job Details</a></li>
										</ul>
									</li>
									<li><a href="">Dashboard</a></li>
									<li><a href="">My Profile</a></li>	
									<li><a href="">service provider Details</a></li>
									<li><a href="">Projects</a></li>
									<li><a href="">Favourites</a></li>
									<li><a href="">Membership</a></li>
									<li><a href="">Change Password</a></li>
									<li><a href="">Chats</a></li>
									<li><a href="">Review</a></li>			
									<li><a href="">Payments</a></li>							
									<li><a href="">Verify Identity</a></li>				
									<li><a href="">Settings</a></li>				
								</ul>
							</li>
							<li><a href="about.html">About us</a></li>
							<li class="has-submenu">
								<a href="">My Account<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
														
									
								{% if request.user.is_authenticated %}
								<li><a href="{% url 'logout' %}">Logout</a></li>

								{% else %}
								<li><a href="{% url 'login' %}">Login</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>
								{% endif %}
								</ul>
							</li>
									
									
						
									

						</ul>
					</div>		 
					<ul class="nav header-navbar-rht">
						<li><a href="{% url 'login' %}" class="log-btn"><img src="{%  static 'assets/img/icon/reg-icon-04.svg' %}" class="me-1" alt="icon"> Sign in</a> <span class="space-login">/</span><a href="{% url 'register' %}" class="log-btn"> Register</a></li>
						<li><a href="post-project.html" class="login-btn">Post a Project </a></li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->		

			<!-- Home Banner -->
			<section class="section home-banner home-four row-middle">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-8 col-lg-7">
							<div class="banner-blk-four aos" data-aos="fade-up">
								<div class="banner-content">
									<h5>Nigeria's #1 Service Marketplace</h5> 
									<h1> Find the best <br> service providers near you!</h1>
									<form class="form"  >
										<div class="form-inner">
											<div class="input-group">
												<span class="drop-detail">
													<select class="form-control select" name="storeID">
														<option value="">Service</option>
														<option value="developer.html">Service Providers </option>
													</select>
												</span>
												<input type="email" class="form-control" placeholder="What are you looking for?">
											<a href="https://premscent2.onrender.com/developer.html"><button href="https://premscent2.onrender.com/developer.html" class="btn btn-primary sub-btn" type="submit">Search Now</button></a>	
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="coplete-job aos" data-aos="fade-right">
						<div class="complete-icon me-2">
							<i class="feather-briefcase"></i>
						</div>
						<div class="complete-content course-count">
							<h3>+ <span class="counter-up">30</span> +</h3>
							<p>Jobs Completed</p>
						</div>
					</div>
					<!-- <div class="fullstack-blk aos" data-aos="fade-up">
						<div class="fullstacker-img">
							<img src="{%  static 'assets/img/user/avatar-12.jpg' %}" class="img-fluid" alt="">
							<span class="stacker-active"><i class="fas fa-check-circle"></i></span>
						</div>
						<div class="fullstacker-name">
							<h4>Chambers</h4>
							<p>Full stack developer</p>
						</div>
						<div class="rating">
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star filled"></i>
							<i class="fas fa-star"></i>
							<span class="average-rating">5.0 (50 Review)</span>
						</div>
					</div> -->
					<div class="register-profesion aos" data-aos="fade-right">
						<div class="profesion-content course-count">
							<p><span class="counter-up">500</span>+ Service Professionals registered</p>
						</div>
						<div class="avatar-group">
                            <div class="avatar avatar-xs group_img group_header">
                                <img class="avatar-img rounded-circle" alt="User Image" src="{%  static 'assets/img/user/avatar-1.jpg' %}">
                            </div>
                            <div class="avatar avatar-xs group_img group_header">
                                <img class="avatar-img rounded-circle" alt="User Image" src="{%  static 'assets/img/user/avatar-2.jpg' %}">
                            </div>
                            <div class="avatar avatar-xs group_img group_header">
                                <img class="avatar-img rounded-circle" alt="User Image" src="{%  static 'assets/img/user/avatar-3.jpg' %}">
                            </div>
							<div class="avatar avatar-xs group_img group_header">
                                <img class="avatar-img rounded-circle" alt="User Image" src="{%  static 'assets/img/user/avatar-4.jpg' %}">
                            </div>
							<div class="avatar avatar-xs group_img group_header">
                                <img class="avatar-img rounded-circle" alt="User Image" src="{%  static 'assets/img/user/avatar-5.jpg' %}">
                            </div>
                        </div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->
			
			<!-- Browse Categories -->
			<section class="section browse-categories">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four section-locate aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Browse Projects By Category  </h2>
									<p>Get work done in over 60 different categories</p>
								</div>
								<div class="view-locations">
									<a href="project.html" class="btn btn-primary ">View all Categories <span class="location-right"><i class="feather-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row aos" data-aos="fade-up">
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Carpenter</h6>
									<p>51 Jobs</p>
								</div>
							</a>
						</div>
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Home Service Barber</h6>
									<p>76 Jobs</p>
								</div>
							</a>
						</div>
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Generator Mechanic</h6>
									<p>37 Jobs</p>
								</div>
							</a>
						</div>
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Fashion Designer</h6>
									<p>68 Jobs</p>
								</div>
							</a>
						</div>
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<i class="fal fa-tools"></i>
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Cleaner </h6>
									<p>30 Jobs</p>
								</div>
							</a>
						</div>
						<div class="col-xl-2 col-md-4">
							<a href="project.html" class="browse-circle-blk move-box">
								<div class="browse-icon me-2">
									<img src="{%  static 'assets/img/icon/browse-icon-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="browse-content">
									<h6>Car Engineer</h6>
									<p>75 Jobs</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- /Browse Categories -->
			
			<!-- What About It -->
			<section class="section what-about-it">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four text-center aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">What's great about it?</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="row">					
								
						<!-- About Item -->
						<div class="col-xl-3 col-md-6 d-flex">
							<div class="about-it-item aos" data-aos="fade-up">
								<div class="about-it-icon mx-auto">
									<img src="{%  static 'assets/img/icon/about-it-01.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="about-great-content text-center">
									<h4>Browse portfolios</h4>
									<p>As a service seeker, search in the service seeker's page using the appropriate filters for any service(s) you need.</p>
								</div>
							</div>
						</div>
						<!-- /About Item -->
						
						<!-- About Item -->
						<div class="col-xl-3 col-md-6 d-flex">
							<div class="about-it-item aos" data-aos="fade-up">
								<div class="about-it-icon mx-auto">
									<img src="{%  static 'assets/img/icon/about-it-02.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="about-great-content text-center">
									<h4>Explore List</h4>
									<p>make your choice from any of the different service providers listed that is near and appeals to you.</p>
								</div>
							</div>
						</div>
						<!-- /About Item -->
						
						<!-- About Item -->
						<div class="col-xl-3 col-md-6 d-flex">
							<div class="about-it-item aos" data-aos="fade-up">
								<div class="about-it-icon mx-auto">
									<img src="{%  static 'assets/img/icon/about-it-03.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="about-great-content text-center">
									<h4>Discuss And Engage</h4>
									<p>Discuss and firm up job description, service conditions including timelines using the chat feature provided with the desired service provider.</p>
								</div>
							</div>
						</div>
						<!-- /About Item -->

						<!-- About Item -->
						<div class="col-xl-3 col-md-6 d-flex">
							<div class="about-it-item aos" data-aos="fade-up">
								<div class="about-it-icon mx-auto">
									<img src="{%  static 'assets/img/icon/about-it-04.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="about-great-content text-center">
									<h4>Quality work</h4>
									<p>Service providers on premscent are government Verified and skilled professionals.We guaratee you quality work.</p>
								</div>
							</div>
						</div>
						<!-- /About Item -->
												
					</div>
				</div>
			</section>	
			<!-- /Our Feature -->	
			
			<!-- Feature Developers -->
			<!-- <section class="section feaure-for-developer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four section-locate aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Featured Developers for you</h2>
									<p>We have over 1400+  Developers </p>
								</div>
								<div class="view-locations">
									<a href="developer-details.html" class="btn btn-primary ">View all Developers <span class="location-right"><i class="feather-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-xl-3 col-md-6">
							<div class="project-item project-item-feature aos" data-aos="fade-up" >
								<div class="project-img heart-blk">
									<a href="developer-details.html"><img src="{%  static 'assets/img/developer/developer-08.jpg' %}" alt="" class="img-fluid"></a>
									<a href="javascript:;" class="favourite"><i class="feather-heart"></i></a>
									<span class="circle-active"><i class="fas fa-check-circle"></i></span>
									<span class="hour-dollr develop-dollr"><img src="{%  static 'assets/img/icon/price-icon-01.svg' %}" class="me-2" alt="">$64 / hr</span>
								</div>
								<div class="feature-project-content text-center pb-0">
									<h4><a href="developer-details.html">Megan Torres</a></h4>
									<p>Java Developer</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="average-rating">5.0 (50)</span>
									</div>
									<div class="foot-profile-btn d-grid ">
										<a href="developer-details.html" class="btn btn-primary">View Profile<i class="fas fa-caret-right ms-2"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="project-item project-item-feature aos" data-aos="fade-up" >
								<div class="project-img heart-blk">
									<a href="developer-details.html"><img src="{%  static 'assets/img/developer/developer-05.jpg' %}" alt="" class="img-fluid"></a>
									<a href="javascript:;" class="favourite"><i class="feather-heart"></i></a>
									<span class="circle-active"><i class="fas fa-check-circle"></i></span>
									<span class="hour-dollr develop-dollr"><img src="{%  static 'assets/img/icon/price-icon-01.svg' %}" class="me-2" alt="">$24 / hr</span>
								</div>
								<div class="feature-project-content text-center pb-0">
									<h4><a href="developer-details.html">Nicole Black</a></h4>
									<p>Angular Developer</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="average-rating">4.0 (40)</span>
									</div>
									<div class="foot-profile-btn d-grid ">
										<a href="developer-details.html" class="btn btn-primary">View Profile<i class="fas fa-caret-right ms-2"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="project-item project-item-feature aos" data-aos="fade-up" >
								<div class="project-img heart-blk">
									<a href="developer-details.html"><img src="{%  static 'assets/img/developer/developer-06.jpg' %}" alt="" class="img-fluid"></a>
									<a href="javascript:;" class="favourite"><i class="feather-heart"></i></a>
									<span class="circle-active"><i class="fas fa-check-circle"></i></span>
									<span class="hour-dollr develop-dollr"><img src="{%  static 'assets/img/icon/price-icon-01.svg' %}" class="me-2" alt="">$62 / hr</span>
								</div>
								<div class="feature-project-content text-center pb-0">
									<h4><a href="developer-details.html">Megan Torres</a></h4>
									<p>Java Developer</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="average-rating">5.0 (50)</span>
									</div>
									<div class="foot-profile-btn d-grid ">
										<a href="developer-details.html" class="btn btn-primary">View Profile<i class="fas fa-caret-right ms-2"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="project-item project-item-feature aos" data-aos="fade-up">
								<div class="project-img heart-blk">
									<a href="developer-details.html"><img src="{%  static 'assets/img/developer/developer-07.jpg' %}" alt="" class="img-fluid"></a>
									<a href="javascript:;" class="favourite "><i class="feather-heart"></i></a>
									<span class="circle-active"><i class="fas fa-check-circle"></i></span>
									<span class="hour-dollr develop-dollr"><img src="{%  static 'assets/img/icon/price-icon-01.svg' %}" class="me-2" alt="">$53 / hr</span>
								</div>
								<div class="feature-project-content text-center pb-0">
									<h4><a href="developer-details.html">Shan Morris</a></h4>
									<p>React Developer</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star "></i>
										<i class="fas fa-star"></i>
										<span class="average-rating">3.0 (20)</span>
									</div>
									<div class="foot-profile-btn d-grid ">
										<a href="developer-details.html" class="btn btn-primary">View Profile<i class="fas fa-caret-right ms-2"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- Feature Developers -->
			
			<!-- Marketplace -->
			<section class="section join-marketplace">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="markrt-place-img aos" data-aos="fade-up">
								<img  src="{%  static 'assets/img/reviewman.jpeg' %}" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-center">
							<div class="market-place-group join-place-blk aos" data-aos="fade-up">
								<h2>Join Nigeria's #1 Service Marketplace<span> for Service Providers</span></h2>
								<ul class="market-list-out">
									<li><img  src="{%  static 'assets/img/icon/tick-01.svg' %}" class="me-1" alt=""> It’s free and easy to post a job.</li>
									<li><img  src="{%  static 'assets/img/icon/tick-01.svg' %}" class="me-1" alt=""> We've got service providers for jobs of any size or budget, across 100+ skills.</li>
									<li><img  src="{%  static 'assets/img/icon/tick-01.svg' %}" class="me-1" alt=""> Only pay for work when it has been completed and you're 100% satisfied. </li>
									<li><img  src="{%  static 'assets/img/icon/tick-01.svg' %}" class="me-1" alt=""> Our talented team of recruiters can help you find the best service provider.</li>
								</ul>
								<div class="market-place-btn">
									<a href="post-job.html" class="btn btn-primary market-project me-2">Post a Project</a>
									<a href="developer.html" class="btn btn-primary market-developer">Find Service Providers</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Marketplace -->
			
			<!-- Popular Projects -->
			<section class="section popular-projects">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four section-locate aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Popular Jobs near you  </h2>
									<p>Get Hired and start the new Jobs </p>
								</div>
								<div class="view-locations">
									<a href="project.html" class="btn btn-primary ">View all Jobs <span class="location-right"><i class="feather-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
					</div>
					<div id="popular-slider" class="owl-carousel owl-theme popular-slider developers-slider aos" data-aos="fade-up">
						<div class="popular-group" >
							<div class="blog-image">
								<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/electrician.jpg' %}" alt="Post Image"></a>
							</div>
							<div class="popular-content-blk">
								<div class="head-popular">
									<h4><a href="project.html">Experienced Electrician Needed for Residential Installations</a></h4>
									<p><img src="{%  static 'assets/img/icon/reg-icon.svg' %}" class="me-2" alt="icon">Electrician</p>
								</div>
								<div class="popular-list-box">
									<ul class="nav">
										<li>maintains</li>
										<li>repairs </li>
									</ul>
									<!-- <h4>$80 - $180<span>/hour</span></h4> -->
								</div>
								<p class="popular-foot">Join our team and showcase your electrical expertise in residential installations</p>
							</div>
						</div>
						<div class="popular-group" >
							<div class="blog-image">
								<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/plumber.jpeg' %}" alt="Post Image"></a>
							</div>
							<div class="popular-content-blk">
								<div class="head-popular">
									<h4><a href="project.html">Immediate Opening for Skilled Plumber in Commercial Projects</a></h4>
									<p><img src="{%  static 'assets/img/icon/reg-icon.svg' %}" class="me-2" alt="icon">Plumber</p>
								</div>
								<div class="popular-list-box">
									<ul class="nav">
										<li>Skilled Plumber</li>
									</ul>
									<!-- <h4>$40 - $80<span>/hour</span></h4> -->
								</div>
								<p class="popular-foot">Immediate opening for a skilled plumber to work on diverse commercial projects</p>
							</div>
						</div>
						<div class="popular-group" >
							<div class="blog-image">
								<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/welder.jpg' %}" alt="Post Image"></a>
							</div>
							<div class="popular-content-blk">
								<div class="head-popular">
									<h4><a href="project.html">Seeking Certified Welder for Structural Fabrication</a></h4>
									<p><img src="{%  static 'assets/img/icon/reg-icon.svg' %}" class="me-2" alt="icon">Welder</p>
								</div>
								<div class="popular-list-box">
									<ul class="nav">
										<li>Welder</li>
										<li>Structural Fabrication"</li>
									</ul>
									<!-- <h4>$60 - $120<span>/hour</span></h4> -->
								</div>
								<p class="popular-foot">Seeking a certified welder with expertise in structural fabrication.</p>
							</div>
						</div>
						<div class="popular-group" >
							<div class="blog-image">
								<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/hvac.jpeg' %}" alt="Post Image"></a>
							</div>
							<div class="popular-content-blk">
								<div class="head-popular">
									<h4><a href="project.html">Experienced HVAC Technician Wanted for Fast-Paced Service Company</a></h4>
									<p><img src="{%  static 'assets/img/icon/reg-icon.svg' %}" class="me-2" alt="icon">HVAC Technician</p>
								</div>
								<div class="popular-list-box">
									<ul class="nav">
										<li>HVAC Technician</li>
									</ul>
									<!-- <h4>$40 - $80<span>/hour</span></h4> -->
								</div>
								<p class="popular-foot">Experienced HVAC Technician Wanted for Fast-Paced Service Company</p>
							</div>
						</div>
						<div class="popular-group" >
							<div class="blog-image">
								<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/mason.jpg' %}" alt="Post Image"></a>
							</div>
							<div class="popular-content-blk">
								<div class="head-popular">
									<h4><a href="project.html">Skilled Masonry Professional Wanted for Construction Projects</a></h4>
									<p><img src="{%  static 'assets/img/icon/reg-icon.svg' %}" class="me-2" alt="icon">Mason</p>
								</div>
								<div class="popular-list-box">
									<ul class="nav">
										<li>Mason</li>
										<li>Construction Projects</li>
									</ul>
									<!-- <h4>$80 - $180<span>/hour</span></h4> -->
								</div>
								<p class="popular-foot"> Seeking a skilled masonry professional for various construction projects.</p>
							</div>
						</div>
					
					</div>
				</div>
			</section>
			<!-- /Popular Projects -->
			
			<!-- Our Feature -->
			<section class="section feature-count">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 mx-auto">
							<div class="section-header feature-count-head aos" data-aos="fade-up">	
								<h2 class="header-title">Premscent Acheivements</h2>
							</div>
						</div>
					</div>
					<div class="row">					
								
						<!-- Feature Item -->
						<div class="col-xl-3 col-md-6">
							<div class="feature-item achive-feature aos" data-aos="fade-up">
								<div class="feature-icon mb-0 me-2">
									<img src="{%  static 'assets/img/icon/icon-07.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="feature-content course-count text-start">
									<h4 class="counter-up">207</h4>
									<p>Service Providers</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-xl-3 col-md-6">
							<div class="feature-item achive-feature aos" data-aos="fade-up">
								<div class="feature-icon mb-0 me-2">
									<img src="{%  static 'assets/img/icon/icon-04.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="feature-content course-count text-start">
									<h4><span class="counter-up">700 </span> +</h4>
									<p>Jobs Added</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
						
						<!-- Feature Item -->
						<div class="col-xl-3 col-md-6">
							<div class="feature-item achive-feature comp-project aos" data-aos="fade-up">
								<div class="feature-icon mb-0 me-2">
									<img src="{%  static 'assets/img/icon/icon-05.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="feature-content course-count text-start">
									<h4 class="counter-up">556</h4>
									<p>Completed projects</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->	

						<!-- Feature Item -->
						<div class="col-xl-3 col-md-6">
							<div class="feature-item achive-feature comp-project aos" data-aos="fade-up">
								<div class="feature-icon mb-0 me-2">
									<img src="{%  static 'assets/img/icon/icon-06.svg' %}" class="img-fluid" alt="">
								</div>
								<div class="feature-content course-count text-start">
									<h4 class="counter-up">98</h4>
									<p>Companies Registered</p>
								</div>
							</div>
						</div>
						<!-- /Feature Item -->
												
					</div>
				</div>
			</section>	
			<!-- /Our Feature -->
			
			<!-- Job Location -->
			<section class="section job-location">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four section-locate aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Jobs by Location</h2>
									<p>Find your favourite jobs and get the benefits of yourself</p>
								</div>
								<div class="view-locations">
									<a href="project.html" class="btn btn-primary ">View all Locations <span class="location-right"><i class="feather-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Okumagba Layout, Warri</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>8 Companies</li> -->
										<li>12 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Igbudu</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>40 Companies</li> -->
										<li>18 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Ogunu</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>50 Companies</li> -->
										<li>23 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Ekurede Itsekiri</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>60 Companies</li> -->
										<li>10 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Paris, France</a></h6>
									<ul class="nav job-locate-foot">
										<li>80 Companies</li>
										<li>9 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Effurun</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>50 Companies</li> -->
										<li>23 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Ubeji</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>30 Companies</li> -->
										<li>12 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4">
							<div class="job-locate-blk aos" data-aos="fade-up">
								<div class="location-img">
									<a href="project.html"><img class="img-fluid" src="{%  static 'assets/img/Delta-state.jpeg' %}" alt=""></a>
								</div>
								<div class="job-it-content">
									<h6><a href="project.html">Warri, Delta State - Jakpa</a></h6>
									<ul class="nav job-locate-foot">
										<!-- <li>70 Companies</li> -->
										<li>4 Jobs Openings</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Job Location -->
			
			<!-- Say Review -->
			<section class="section review-four">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four text-center aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Top Reviews</h2>
									<p>People love to come again for Premscent</p>
								</div>
							</div>
						</div>
					</div>
					<div class=" slider say-about slider-for aos " data-aos="fade-up">
						<div>
							<div class="review-love-group">
								<div class="quote-love-img">
									<img class="img-fluid" src="{%  static 'assets/img/quote.svg' %}" alt="">
								</div>
								<p class="review-passage">“ "I recently used Premscent to find an electrician, and I was extremely impressed. The electrician they connected me with was highly skilled and professional. He completed the job efficiently and even provided valuable cost-saving suggestions. I highly recommend Premscent for their excellent service!“</p>
								<div class="say-name-blk text-center">
									<h6>Sarah M</h6>
									<p>House Owner</p>
								</div>
							</div>
						</div>
						<div>
							<div class="review-love-group">
								<div class="quote-love-img">
									<img class="img-fluid" src="{%  static 'assets/img/quote.svg' %}" alt="">
								</div>
								<p class="review-passage">“ Vitae amet cras nulla mi laoreet quis amet phasellus. Enim orci lacus quam mauris nunc ultrices duis. Ornare leo mi aenean egestas montes cras.Vitae amet cras nulla mi laoreet quis amet phasellus. Enim orci lacus quam mauris nunc ultrices duis. Ornare leo mi aenean egestas montes cras. Egestas erat viverra scelerisque bibendum. “</p>
								<div class="say-name-blk text-center">
									<h6>Ramen Daren</h6>
									<!-- <p>Wordpress Service Providers/p> -->
								</div>
							</div>
						</div>	
						<div>
							<div class="review-love-group">
								<div class="quote-love-img">
									<img class="img-fluid" src="{%  static 'assets/img/quote.svg' %}" alt="">
								</div>
								<p class="review-passage">“Finding a reliable plumber was a breeze with Premscent. The plumber they recommended was prompt, knowledgeable, and courteous. He quickly resolved my plumbing issue and went above and beyond to ensure everything was working perfectly. I'm grateful for the service provided by Premscent! “</p>
								<div class="say-name-blk text-center">
									<h6> John D.</h6>
									<!-- <p>Wordpress developer</p> -->
								</div>
							</div>
						</div>
						<div>
							<div class="review-love-group">
								<div class="quote-love-img">
									<img class="img-fluid" src="{%  static 'assets/img/quote.svg' %}" alt="">
								</div>
								<p class="review-passage">“ I had a welding project and decided to try Premscent. The welder they referred me to was exceptional. He had exceptional skills and attention to detail. Not only did he complete the job flawlessly, but he also offered helpful suggestions to enhance the project. Premscent is my go-to platform for finding reliable professionals! “</p>
								<div class="say-name-blk text-center">
									<h6>Emily P.</h6>
									<p>Service Seeker</p>
								</div>
							</div>
						</div>
						<div>
							<div class="review-love-group">
								<div class="quote-love-img">
									<img class="img-fluid" src="{%  static 'assets/img/quote.svg' %}" alt="">
								</div>
								<p class="review-passage">“ Thanks to Premscent, I found a fantastic landscaper. The landscaper was incredibly talented and transformed my yard into a beautiful outdoor space. They were easy to work with, listened to my ideas, and added their expertise to create a stunning result. Premscent exceeded my expectations. “</p>
								<div class="say-name-blk text-center">
									<h6>Mark S.</h6>
									<!-- <p>Wordpress developer</p> -->
								</div>
							</div>
						</div>
				    </div>
					<div class=" slider client-img slider-nav aos " data-aos="fade-up">
						<div class="testimonial-thumb">
							<img src="{%  static 'assets/img/user/avatar-1.jpg' %}" alt="">
						</div>
						<div class="testimonial-thumb">
							<img src="{%  static 'assets/img/user/avatar-2.jpg' %}" alt="">
						</div>
						<div class="testimonial-thumb">
							<img src="{%  static 'assets/img/user/avatar-3.jpg' %}" alt="">
						</div>
						<div class="testimonial-thumb">
							<img src="{%  static 'assets/img/user/avatar-4.jpg' %}" alt="">
						</div>
						<div class="testimonial-thumb">
							<img src="{%  static 'assets/img/user/avatar-5.jpg' %}" alt="">
						</div>
					</div>
				</div>
			</section>
			<!-- /Say Review Two -->
			
			<!-- Platform Location -->
			<section class="section platform-location">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-md-5">
							<div class="markrt-place-img aos" data-aos="fade-up">
								<img  src="{%  static 'assets/img/platform-img.png' %}" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-xl-6 col-md-7 d-flex align-items-center">
							<div class="market-place-group aos" data-aos="fade-up">
								<h2>Discover <span>Project Around</span> <span class="platform-head">your Location in Our Platform</span></h2>
								<!-- <p>Get Inspired by </p> -->
								<p class="platform-pasage">At Premscent, we pride ourselves on providing a stable and dependable service that connects customers with skilled service providers from around the globe. Our platform brings together experts who are actively seeking work and committed to delivering their best. Experience our cutting-edge marketplace platform at Premscent, where we harness the collective expertise of our global community to create an unparalleled marketplace experience tailored to your needs</p>
								<div class="market-place-btn platform-btn">
									<a href="project.html" class="btn btn-primary market-project me-2">View Jobs</a>
									<a href="project.html" class="btn btn-primary project-post">Post a Project</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Platform Location -->
			
			<!-- Blog -->
			<!-- <section class="section blog-article">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12 mx-auto">
							<div class="section-header section-header-four section-locate aos" data-aos="fade-up">
								<div>
									<h2 class="header-title">Our Blog  </h2>
									<p>Read Our Article To Get Tricks </p>
								</div>
								<div class="view-locations">
									<a href="blog-details.html" class="btn btn-primary ">View all Articles <span class="location-right"><i class="feather-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
					</div>
					<div id="blog-article" class="owl-carousel owl-theme popular-slider developers-slider aos" data-aos="fade-up">
						<div class="blog-article-group" >
							<div class="blog-image">
								<a href="blog-details.html"><img class="img-fluid" src="{%  static 'assets/img/blog/blog-15.jpg' %}" alt="Post Image"></a>
								<div class="article-Production">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/production-icon.svg' %}" alt="">Production</span>
								</div>
								<div class="article-blog-content">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/cal-icon.svg' %}" alt="">13, Dec2022</span>
									<h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur. Vitae amet cras nulla mi laoreet quis amet phasellus....</p>
								</div>
							</div>
						</div>
						<div class="blog-article-group" >
							<div class="blog-image">
								<a href="blog-details.html"><img class="img-fluid" src="{%  static 'assets/img/blog/blog-16.jpg' %}" alt="Post Image"></a>
								<div class="article-Production">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/production-icon.svg' %}" alt="">Jobs</span>
								</div>
								<div class="article-blog-content">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/cal-icon.svg' %}" alt="">12, Dec2022</span>
									<h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur. Vitae amet cras nulla mi laoreet quis amet phasellus....</p>
								</div>
							</div>
						</div>
						<div class="blog-article-group" >
							<div class="blog-image">
								<a href="blog-details.html"><img class="img-fluid" src="{%  static 'assets/img/blog/blog-17.jpg' %}" alt="Post Image"></a>
								<div class="article-Production">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/production-icon.svg' %}" alt="">Production</span>
								</div>
								<div class="article-blog-content">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/cal-icon.svg' %}" alt="">10, Dec2022</span>
									<h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur. Vitae amet cras nulla mi laoreet quis amet phasellus....</p>
								</div>
							</div>
						</div>
						<div class="blog-article-group" >
							<div class="blog-image">
								<a href="blog-details.html"><img class="img-fluid" src="{%  static 'assets/img/blog/blog-16.jpg' %}" alt="Post Image"></a>
								<div class="article-Production">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/production-icon.svg' %}" alt="">Jobs</span>
								</div>
								<div class="article-blog-content">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/cal-icon.svg' %}" alt="">12, Dec2022</span>
									<h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur. Vitae amet cras nulla mi laoreet quis amet phasellus....</p>
								</div>
							</div>
						</div>
						<div class="blog-article-group" >
							<div class="blog-image">
								<a href="blog-details.html"><img class="img-fluid" src="{%  static 'assets/img/blog/blog-17.jpg' %}" alt="Post Image"></a>
								<div class="article-Production">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/production-icon.svg' %}" alt="">Production</span>
								</div>
								<div class="article-blog-content">
									<span><img class="img-fluid me-1" src="{%  static 'assets/img/icon/cal-icon.svg' %}" alt="">10, Dec2022</span>
									<h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet.</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur. Vitae amet cras nulla mi laoreet quis amet phasellus....</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- /Popular Projects -->
			
			<!-- Company Hire -->
			<!-- <section class="section top-company-four">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header text-center aos" data-aos="fade-up">
								<h5>Trusted by the world’s best Company</h5>
							</div>
						</div>
					</div>
					<div id="trust-company-slider" class="owl-carousel owl-theme trust-slider developers-slider aos" data-aos="fade-up">
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-01.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-02.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-03.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-04.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-05.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-06.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-03.svg' %}" alt="">
						</div>
						<div class="company-logos">
							<img  src="{%  static 'assets/img/company-logo-02.svg' %}" alt="">
						</div>
					</div>
				</div>
			</section> -->
			<!-- / Company Hire -->
			
			<!-- App Version -->
			<section class="section next-great-job">
				<div class="container">				
					<div class="row">
						<div class="offset-md-3 col-md-6">
							<div class="job-next-blk text-center aos" data-aos="fade-up">
								<h2>Find Your Next Great Job Opportunity!</h2>
								<p>Its just  a click away </p>
								<div class="next-job-btn next-with-job">
									<a href="{% url 'login' %}" class="btn btn-primary next-sign me-3">Sign in with us</a>
									<a href="{% url 'register' %}" class="btn btn-primary next-register">Register with us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /App Version -->
			
			<!-- Footer -->	
			<footer class="footer footer-four">
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">

						<div class="row">
							<div class="col-lg-7">
								<div class="row">
									<div class="col-lg-12">
										<div class="subscribe-four">
											<h4 >Subscribe</h4>
											<div class="banner-content aos aos-init aos-animate" data-aos="fade-up">
												<form class="form" name="store" method="post" action="project.html">
													<div class="form-inner">
														<div class="input-group">
															<input type="email" class="form-control" placeholder="Your Email address.....">
															<button class="btn btn-primary sub-btn" type="submit">Send mail</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">Useful Links</h2>
											<ul>
												<li><a href="about.html">About Us</a></li>
												<li><a href="">Jobs</a></li>
												<li><a href="{% url 'login' %}">Login</a></li>
												<li><a href="{% url 'register' %}">Register</a></li>
												<li><a href="">Forgot Password</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">Help & Support</h2>
											<ul>
												<li><a href="javascript:;">Browse Candidates</a></li>
												<li><a href="javascript:;">Employers Dashboard</a></li>
												<li><a href="javascript:;">Job Packages</a></li>
												<li><a href="javascript:;">Jobs Featured</a></li>
												<li><a href="javascript:;">Post A Job</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">Featured Catgeories</h2>
											<ul>
												<li><a href="project.html">Engineering</a></li>
												<li><a href="project.html">General services</a></li>
												<li><a href="project.html">Legal services</a></li>
												<li><a href="project.html">Consultancy</a></li>
												<li><a href="project.html">Craftmen</a></li>
												<li><a href="project.html">Special Services</a></li>
												<li><a href="project.html">Home service </a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="row">
									<div class="col-lg-12">
										<div class="footer-widget footer-menu play-app mt-4">
											<div class="row">
												<div class="col-lg-6 col-md-4">
													<div class="free-customer">
														<p>Toll Free Customer Care</p>
														<h6>09157331321</h6>
													</div>
												</div>
												<div class="col-lg-6 col-md-4">
													<div class="free-customer">
														<p>Toll Free Customer Care</p>
														<h6>09157331321</h6>
													</div>
												</div>
											</div>
											<!-- <div class="applicate-mobile-blk">
												<h6>Mobile Application</h6>
												<p>Download our App and get the latest Breaking News Alerts and latest headlines and daily articles near you.</p>
											</div>
											<div class="row g-2">
												<div class="col-lg-4">
													<a href="#"><img class="img-fluid" src="{%  static 'assets/img/app-store.svg' %}" alt="app-store"></a>
												</div>
												<div class="col-lg-4">
													<a href="#"><img class="img-fluid" src="{%  static 'assets/img/google-play.svg' %}" alt="google-play"></a>
												</div>
											</div> -->
											<div class="social-icon">
												<p>Follow us on : </p>
												<ul>
													<li><a href="#" class="icon" target="_blank"><i class="fab fa-facebook-f"></i> </a></li>
													<li><a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
													<li><a href="#" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-12 ">
									<div class="copyright-text text-center">
										<p class="mb-0">Copyright 2023 © PremScent.com All right reserved. Designed by <a href="https://mjfolio.netlify.app/">Mjfolio</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->						
					</div>
				</div>
				<!-- /Footer Bottom -->				
			</footer>
			<!-- /Footer -->
		
		</div>		
		<!-- /Main Wrapper -->
		
		<!-- Scroll Top -->
		<button class="scroll-top scroll-top-next scroll-to-target" data-target="html">
			<span class="ti-angle-up"><i class="feather-arrow-up"></i></span>
		</button>
		<!-- /Scroll Top -->
		
		<!-- jQuery -->
		<script src="{%  static 'assets/js/jquery-3.6.1.min.js' %}"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="{%  static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Owl Carousel -->
		<script src="{%  static 'assets/js/owl.carousel.min.js' %}"></script>	
		
		<!-- counterup JS -->
		<script src="{%  static 'assets/js/jquery.waypoints.js' %}"></script>
		<script src="{%  static 'assets/js/jquery.counterup.min.js' %}"></script>
		
		<!-- Aos -->
		<script src="{%  static 'assets/plugins/aos/aos.js' %}"></script>
		
		<!-- Select2 JS -->
		<script src="{%  static 'assets/plugins/select2/js/select2.min.js' %}"></script>
		
		<!-- Slick JS -->
		<script src="{%  static 'assets/js/slick.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{%  static 'assets/js/script.js' %}"></script>
	</body>
</html>